<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/forms.css" />
    <script
      src="https://kit.fontawesome.com/c385798621.js"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a href="/" class="nav-logo">
          <img src="" alt="logo" />
        </a>
      </div>
    </nav>

    <div id="toastPopupContainer"></div>

    <div class="form-page-container">
      <div class="form-container">
        <h1>Login</h1>
        <form id="loginForm">
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter email"
              required
            />
          </div>

          <div class="form-group">
            <label for="psw">Password:</label>
            <input
              type="password"
              id="psw"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>

          <button type="submit" id="loginFormSubmitBtn" class="form-submit-btn">
            <span class="btn-text">Login</span>
            <div class="loader" style="display: none"></div>
          </button>
        </form>
      </div>
    </div>
    <script type="module" src="/static/js/auth.js"></script>
  </body>
</html>
